<div class="filter-wrapper">
  <% url = company.id == params[:company_id].to_i ? search_index_path( update_params( params, :remove, :company_id, company.id ) ) :
                      search_index_path( update_params( params, :update, :company_id, company.id ) ) %>
    <%= link_to url, data: { 'turbolinks-scroll': false }  do %>
    <label class="checkbox-style">
      <input "company-<%= company.id %>" type="checkbox" class="checkbox-inline" <%= company.id == params[:company_id].to_i ? 'checked="checked"' : '' %>>
        <span></span>
    </label>
    <label for="company-<%= company.id %>" class="filter-name"><%= company.name %></label>
    <% end %>
    <span class="filter-plus-icon glyphicon"></span>
</div>
