<div class="filter-wrapper">
    <%= search_company_link company, params[:company_id] do %>
    <label class="checkbox-style">
      <input "company-<%= company.id %>" type="checkbox" class="checkbox-inline" <%= company.id == params[:company_id].to_i ? 'checked="checked"' : '' %>>
        <span></span>
    </label>
    <label for="company-<%= company.id %>" class="filter-name"><%= company.name %></label>
    <% end %>
    <span class="filter-plus-icon glyphicon"></span>
</div>
