<aside class="side-panel-wrapper">
    <div class="filter-group favourites" data-type="favourites">
        <div class="filter-heading-wrapper">
            <span class="filter-group-icon glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="filter-group-heading">Favourites</span>
            <span class="filter-group-arrow glyphicon glyphicon-play"></span>
        </div>
        <div class="filter-group-contents">
            <% if user_signed_in? %>
              <% current_user.categories.each do |category| %>
                <div class="filter-wrapper">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span class="filter-name">
                      <%= link_to category.name, search_index_path( update_params( params, :update, :category_id, category.id ) ), data: { 'turbolinks-scroll': false }  %>
                    </span>
                </div>
              <% end  %>
              <% current_user.companies.each do |company| %>
                <div class="filter-wrapper">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span class="filter-name">
                      <%= link_to company.name, search_index_path( update_params( params, :update, :company_id, company.id ) ), data: { 'turbolinks-scroll': false }  %>
                    </span>
                </div>
              <% end  %>
          <% end %>
        </div>
        <div class="showmore-link-wrapper">
            <span class="invisible-span"></span>
            <span class="more-link">More...</span>
            <span class="invisible-span"></span>
        </div>
    </div>
    <div class="filter-group history-search" data-type="history-search">
        <div class="filter-heading-wrapper">
            <span class="filter-group-icon glyphicon glyphicon-search" aria-hidden="true"></span>
            <span class="filter-group-heading">History Search</span>
            <span class="filter-group-arrow glyphicon glyphicon-play"></span>
        </div>
        <div class="filter-group-contents">
            <% if user_signed_in?
              current_user.searches.recent.each do |search| %>
            <div class="filter-wrapper">
                <%= link_to search_index_path( update_params( params, :update, :delete_search, search.id ) ), data: { 'turbolinks-scroll': false } do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end  %>
                <span class="filter-name">
                  <%= link_to search.text, search_index_path( update_params( params, :update, :search, search.text ) ) , data: { 'turbolinks-scroll': false } %>
                </span>
            </div>
            <% end
            end %>
        </div>
        <div class="showmore-link-wrapper">
            <span class="invisible-span"></span>
            <span class="more-link">More...</span>
            <span class="invisible-span"></span>
        </div>
    </div>
    <div class="filter-group your-categories" data-type="your-categories">
        <div class="filter-heading-wrapper">
            <span class="filter-group-icon glyphicon glyphicon-home" aria-hidden="true"></span>
            <span class="filter-group-heading">Your Categories</span>
            <span class="filter-group-arrow glyphicon glyphicon-play"></span>
        </div>
        <div class="filter-group-contents">
            <% Category.all.each do |category| %>
            <div class="filter-wrapper">
                <label class="checkbox-style">
                  <input id="<%= "category-#{category.id}" %>" type="checkbox" class="checkbox-inline" <%= category.contains_sub_category?( params[:category_id] ) ? "checked='checked'" : "" %>>
                    <span></span>
                </label>
                <label for="<%= "category-#{category.id}" %>" class="filter-name"><%= category.name %></label>
                <% if category.contains_sub_category?( params[:category_id] ) %>
                <span class="filter-plus-icon glyphicon glyphicon-plus glyphicon-minus"></span>
                <div class="sub-filter-wrapper display">
                <% else %>
                <span class="filter-plus-icon glyphicon glyphicon-plus"></span>
                <div class="sub-filter-wrapper">
                <% end %>
                    <% category.sub_categories.each do |sub_cat| %>
                      <span class="clearfix sub-filter-name">
                        <%= link_to sub_cat.name, search_index_path(update_params(params, :update, :category_id, sub_cat.id)), data: { 'turbolinks-scroll': false } %>
                      </span>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
        <div class="showmore-link-wrapper">
            <span class="invisible-span"></span>
            <span class="more-link">More...</span>
            <span class="invisible-span"></span>
        </div>
    </div>
    <div class="filter-group international-brands" data-type="international-brands">
        <div class="filter-heading-wrapper">
            <span class="filter-group-icon glyphicon glyphicon-plane" aria-hidden="true"></span>
            <span class="filter-group-heading">International Brands</span>
            <span class="filter-group-arrow glyphicon glyphicon-play"></span>
        </div>
        <div class="filter-group-contents">
            <% Company.international.each do |company| %>
            <div class="filter-wrapper">
              <% url = company.id == params[:company_id].to_i ? search_index_path( update_params( params, :remove, :company_id, company.id ) ) :
                                  search_index_path( update_params( params, :update, :company_id, company.id ) ) %>
                <%= link_to url, data: { 'turbolinks-scroll': false }  do %>
                <label class="checkbox-style">
                  <input "company-<%= company.id %>" type="checkbox" class="checkbox-inline" <%= company.id == params[:company_id].to_i ? 'checked="checked"' : '' %>>
                    <span></span>
                </label>
                <label for="company-<%= company.id %>" class="filter-name"><%= company.name %></label>
                <% end %>
                <span class="filter-plus-icon glyphicon"></span>
            </div>
            <% end %>
        </div>
        <div class="showmore-link-wrapper">
            <span class="invisible-span"></span>
            <span class="more-link">More...</span>
            <span class="invisible-span"></span>
        </div>
    </div>
    <div class="filter-group local-brands" data-type="local-brands">
        <div class="filter-heading-wrapper">
            <span class="filter-group-icon zmdi zmdi-directions-walk"></span>
            <span class="filter-group-heading">Local Brands</span>
            <span class="filter-group-arrow glyphicon glyphicon-play"></span>
        </div>
        <div class="filter-group-contents">
            <% Company.local.each do |company| %>
            <div class="filter-wrapper">
              <% url = company.id == params[:company_id].to_i ? search_index_path( update_params( params, :remove, :company_id, company.id ) ) :
                                  search_index_path( update_params( params, :update, :company_id, company.id ) ) %>
                <%= link_to url, data: { 'turbolinks-scroll': false }  do %>
                <label class="checkbox-style">
                  <input "company-<%= company.id %>" type="checkbox" class="checkbox-inline" <%= company.id == params[:company_id].to_i ? 'checked="checked"' : '' %>>
                    <span></span>
                </label>
                <label for="company-<%= company.id %>" class="filter-name"><%= company.name %></label>
                <% end %>
                <span class="filter-plus-icon glyphicon"></span>
            </div>
            <% end %>
        </div>
        <div class="showmore-link-wrapper">
            <span class="invisible-span"></span>
            <span class="more-link">More...</span>
            <span class="invisible-span"></span>
        </div>
    </div>
</aside>
