<% content_for :messages do %>
  <%= render partial: 'layouts/messages', locals: { flash_class: 'floating' } %>
<% end %>

<% content_for :mobile_icons do %>
  <div class="mobile-burger-menu">
    <span></span><span></span><span></span>
  </div>
  <div class="mobile-filter-button"></div>
<% end %>

<%= render 'search_header' %>

<div class="main-container">

  <%= render 'left_filters' %>

  <!-- MAIN CONTENTS LAYOUT -->
  <main class="main-content-wrapper">
    <div>
    <div class="flex applied-filters-wrapper">
      <div></div>
      <% @filters.each do |filter| %>
        <div class="applied-filter">
          <%= link_to search_index_path(update_params(params, :remove, filter.type)), data: { 'turbolinks-scroll': false }  do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
          <span class="applied-filter-text"><%= filter.name %></span>
        </div>
      <% end %>
    </div>
    <div class="flex thumbs-matrix-wrapper">
        <% @products.each do |product| %>
          <%= render partial: 'search_result', locals: { product: product } %>
        <% end %>
        <% unless @products.any? %>
        <div class="flash alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          Searching for <strong>'<%= params[:search] %>'</strong> returned no products.
        </div>
        <% end %>
    </div>
    <div class="flex showmore-thumbs-row">
        <div class="plus-button-wrapper">
            <a href="#"><i class="zmdi zmdi-plus-circle-o"></i></a>
        </div>
        <div class="showmore-text-wrapper">
            <a href="#" class="show-more-text"><span>More Listing</span> </a>
        </div>
    </div>
    </div>
  </main>
</div>
