<% content_for :messages do %>
  <%= render partial: 'layouts/messages', locals: { flash_class: 'floating' } %>
<% end %>

<% content_for :mobile_icons do %>
  <div class="mobile-burger-menu">
    <span></span><span></span><span></span>
  </div>
  <div class="mobile-filter-button"></div>
<% end %>

<%= render 'search_header' %>
<%= render 'left_filters' %>

<!-- MAIN CONTENTS LAYOUT -->
<main class="main-content-wrapper">
    <div class="flex applied-filters-wrapper">
    </div>
    <div class="flex thumbs-matrix-wrapper">
        <% @products.each do |product| %>
          <%= render partial: 'search_result', locals: { product: product } %>
        <% end %>
        <% unless @products.any? %>
        <div class="flash alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          Searching for <strong>'<%= params[:search] %>'</strong> returned no products.
        </div>
        <% end %>
    </div>
    <div class="flex showmore-thumbs-row">
        <div class="plus-button-wrapper">
            <a href="#"><span class="zmdi zmdi-plus-circle-o"></span></a>
        </div>
        <div class="showmore-text-wrapper">
            <a href="#" class="show-more-text"><span>More Listing</span> </a>
        </div>
    </div>
</main>
