<% unless user_signed_in? %>
  <div class="authform" id="UserSignIn">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
      <h3>Sign in</h3>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%- if devise_mapping.registerable? %>
          <a href="#" data-toggle='modal' data-target='#RegisterModal' data-dismiss='modal' class='right'>Sign up</a>
        <% end -%>
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%- if devise_mapping.recoverable? %>
          <a href="#" data-toggle='modal' data-target='#ForgotPasswordModal' data-dismiss='modal' class='right'>Forgot Password?</a>
        <% end -%>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
        <%= f.submit 'Sign in', :class => 'button right' %>
        <% if devise_mapping.rememberable? -%>
          <div class="checkbox" style="width:150px">
            <label>
              <%= f.check_box :remember_me %> Remember me
            </label>
          </div>
        <% end -%>
    <% end %>
  </div>
<% end %>
