<link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
<%= render partial: 'registrations/nav_filters' %>
<div class="container photo-wrapper">
  <div class="center-block">
    <div class="header-title text-center">
      <h2>Your Latest Photos - Thanks for uploading :)</h2>
    </div>
    <div class="photo-section">
      <% 5.times do %>
      <div class="photo-unit">
        <div class="row photo-unit-header">
          <div class="pull-left photo-unit-padding-left">
            <p><%=photo.product && photo.product.company && photo.product.company.name %></p>
          </div>
          <div class="pull-right photo-unit-padding-right">
            <p class="thumb-time-date">
              <i class="glyphicon glyphicon-time"></i><%= photo.created_at.strftime("%d %b %H:%M") %>
            </p>
          </div>
        </div>
        <div class="photo-unit-screenshot">
          <%= image_tag photo.picture.image.url(:thumbnail), alt: photo.title, class: 'img-responsive center-block' %>
        </div>
        <div class="row photo-unit-rating">
          <div class="pull-left photo-unit-padding-left">
            <%= link_to photo.product do %>
              <%= photo.product.name%> <%= "(#{photo.product.year})" if photo.product.year%>
            <% end %>
          </div>
          <div class="pull-right photo-unit-padding-right">
            <%= render 'products/rating', rating: photo.product.rating %>
          </div>
        </div>
        <div class="photo-unit-description">
          <p class="photo-unit-padding-left">
            <%= truncate photo.comment, length: 110, separator: ' ' %>
          </p>
        </div>
        <div class="photo-unit-more-info pull-right">
          <%= link_to 'More Info...', photo.product, :class => 'photo-unit-padding-right' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>