<div class='form-group'>
  <%= form.label :product, class: 'col-sm-2 control-label' %>
  <div class='col-sm-10'>

    <% if product %>

      <p class='form-control-static'><%= product.name %></p>
      <%= form.hidden_field :product_id, value: product.id %>

    <% elsif products %>

      <%= form.collection_select :product_id, products, :id, :title,
                                 { prompt: true }, class: 'form-control' %>

    <% else %>

      <%= form.select :product_id, [], { prompt: true }, class: 'form-control',
                      disabled: true, data: { leader: "#{form.object_name}_category_id" } %>

    <% end %>

  </div>
</div>
