<h1>
  <%= company.name %>
  <small class='pull-right'>
    <%= link_to company.url, company.url, :target => "_blank" %>
  </small>
</h1>
<p>
  <%= company.description %>
</p>
<h2>Contacts:</h2>
<address>
  <p>
    <strong>Contact Email: </strong><%= company.email %>
  </p>
  <p>
    <% unless company.address == nil %>
      <strong>Address :</strong><%= company.address.street %> <%= company.address.city %> <%= company.address.postcode %>
  </p>
  <p>
    <% if company.phone? %>
      <strong>Contact Phone: </strong><%= company.phone %>
    <% end %>
  </p>
  <p>
    <% if company.fax? %>
      <strong>Contact Fax: </strong><%= company.fax %>
    <% end %>
  </p>
</address>
