<h1>
  <%= company.name %>
  <small class='pull-right'>
    <%= link_to company.url, company.url %>
  </small>
</h1>
<p>
  <%= company.description %>
</p>
<h2>Contacts:</h2>
<address>
  <p>
    <strong>email:</strong>
    <br>
    <%= company.email %>
  </p>
  <p>
    <strong>phone:</strong>
    <br>
    <%= company.phone %>
  </p>
  <p>
    <strong>fax:</strong>
    <br>
    <%= company.fax %>
  </p>
</address>
